@import "~bootstrap/dist/css/bootstrap";

.todo-container {
  width: 37.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* .todo-tasks,
.add-task-container {
  box-shadow: 0rem 0rem 1.25rem 0.25rem #0078ff26;
} */

.add-task-button {
  opacity: 0.5;
}

.add-task-button:hover {
  opacity: 1;
}

.header-container {
  border-bottom: 1px solid #e1e1e1;
}

.header-tab-group > .active {
  color: #0078ff;
  border-bottom: 2px solid #0078ff;
  opacity: 1;
}

.header-tab-group li {
  padding: 0.8rem;
  cursor: pointer;
  opacity: 0.5;
}

.text-high {
  color: red;
}

.text-medium {
  color: rgb(156, 156, 40);
}

.text-low {
  color: green;
}

.task-separator {
  border-bottom: 1px solid #e1e1e1;
}

.task-name {
  font-weight: 520;
  color: #000;
}

.task-item {
  font-weight: 300;
  color: #9e8b8b;
}

.task-name-completed {
  font-weight: 300;
  color: #9e8b8b;
}

.task-description {
  opacity: 0.6;
}

.card-body::-webkit-scrollbar {
  width: 0.5rem;
}

.card-body::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.048);
}

.card-body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    rgba(1, 95, 183, 0.9732216701) 13%,
    rgba(1, 95, 183, 0.9732216701) 99%
  );
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 5px;
}

.task-container {
  height: 26rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.task-status-toggle-icon {
  object-fit: contain;
  max-height: 1rem;
  max-width: 1rem;
}

.task-group {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
  height: 25rem;
  position: relative;
}

.input-container input :focus-visible {
  border: none;
}

.due-date {
  border-radius: 0.7rem;
  border: 2px solid #dddddd;
}

input {
  outline: none;
}

textarea {
  outline: none;
  resize: none;
}

.button-width-85 {
  min-width: 85px;
}

.pointer-cursor {
  cursor: pointer;
}

.option-container {
  float: right;
  flex-direction: column;
  justify-content: center;
  visibility: hidden;
  display: flex;
  opacity: 0;
  transition: all 0.4s;
}

.task-item:hover > .option-container {
  opacity: 0.8;
  visibility: visible;
}

.edit {
  color: #0078ff;
  opacity: 0.3;
}

.edit-InProgress {
  background-color: #afacaca9;
}

.delete {
  color: red;
  opacity: 0.3;
}

.edit:active,
.delete:active {
  opacity: 1;
}

.delete-task {
  transform: translateX(-150%);
  transition: all 3s;
  background-color: #fff;
  z-index: 999;
}

.overlay {
  right: -5%;
  background-color: rgba(255, 0, 0, 0.575);
  overflow: hidden;
  width: 0;
  height: 27.4%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  color: transparent;
}

.delete-task + .overlay {
  position: absolute;
  width: 150%;
  transition: all 3s ease;
  animation: slider 3s 0.3s;
}

@keyframes slider {
  from {
    color: transparent;
  }
  35%, to {
    color: white;
  }
}

::ng-deep .mdc-text-field,
.mdc-text-field:focus-visible,
mat-form-field:hover .mat-mdc-form-field-focus-overlay {
  background-color: transparent !important;
  border: 0;
  padding: 0 !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-start {
  background-color: white !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline-gap {
  background-color: white !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline-end {
  background-color: white !important;
}
mat-form-field mat-label {
  background-color: rgba(255, 255, 255, 0.9);
}
.mat-form-field-appearance-outline:not(.mat-form-field-disabled)
  .mat-form-field-flex:hover
  .mat-form-field-outline {
  opacity: 1 !important;
}

::ng-deep .mat-mdc-form-field-focus-overlay {
  background-color: white !important;
}

/* ::ng-deep .mdc-line-ripple {
    display: none !important;
} */
