@import '~bootstrap/dist/css/bootstrap';

.todo-container {
    width: 37.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.todo-tasks, .add-task {
    box-shadow: 0rem 0rem 1.25rem 0.25rem #0078ff26;
}

.header-container {
    border-bottom: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.header-tab-group > .active {
    border-bottom: 2px solid #0078FF;
    opacity: 1;
}

.header-tab-group li {
    padding: 0.8rem;
    cursor: pointer;
    opacity: 0.5;
}

.text-high {
    color: red;
}

.text-medium {
    color: yellow;
}

.text-low {
    color: green;
}

.task-separator {
    border-bottom: 1px solid #e1e1e1;
}

.task-item, .task-detail div {
    font-weight: 300;
    color: #9e8b8b;
}

.task-name {
    font-weight: 520;
    color: #000;
}

.task-name-completed {
    font-weight: 300;
    color: #9e8b8b;
}

.task-description {
    opacity: 0.6;
}

.card-body::-webkit-scrollbar {
  width: 0.5rem;
}

.card-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
} 

.card-body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #003cff 0%, #a2b5e9 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 10px;
}

.task-container {
    height: 26rem;
    overflow-y: auto;
}

.task-status-toggle-icon {
    object-fit: contain;
    max-height: 1rem;
    max-width: 1rem;
}

.task-group {
    display: flex;
    flex-direction: column;
    row-gap: 0.625rem;
    height: 25rem;
}

.input-container input :focus-visible {
    border: none;
}

.due-date {
    border-radius: 5px;
}
