/* You can add global styles to this file, and also import other style files */

body {
  background-color: rgb(213, 233, 255);
  font-family: "SF Pro Display", Arial, Helvetica, sans-serif;
}

app-root {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--page-background);
}
